@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  img {
    vertical-align: middle;
  }
  a {
    display: inline-block;
    text-decoration: none;
  }
  ul,
  li,
  ol {
    list-style: none;
  }
}

:root {
  /* !colors */
  --white_color: #ffffff;
  --black_363738: #363738;
  --white_F5F5F5: #f5f5f5;
  --white_FEFAF1: #fefaf1;
  --white_FFFFFF: #ffffff;
  --text_whiteFAFAFA: #fafafa;
  --text_black7D8184: #7d8184;
  --text_black000000: #000000;
  --text_whitef9f9f9: #f9f9f9;
  --redDB4444: #db4444;
  --button00FF66: #00ff66;
  --hoverE07575: #e07575;
  --hoverA0BCE0: #a0bce0;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}
